body{
  margin: 0;
  padding: 0;
  color: #333;

}

.navbar{
  background-color: gray;
  height: 50px;
  width: 100%;
  
  
} 

.page-header{
  background-color: hotpink;
  margin-left: auto;
  margin-right: auto;
  
}


ul{
  list-style: none;
  display: flex;
  justify-content: space-around;
  width: 30%;

}