body{
  margin: 0;
  padding: 0;
  color: #333;

}



.navbar{
  background-color: gray;
  height: 50px;
  width: 100%;
  
  
} 

.page-header{
  background-color: wheat;
  margin: 0 auto;
  width: 1046px;
}



ul{
  list-style: none;
  display: flex;
  justify-content: space-between;
  width: 30%;
  
  padding: 4px 12px;
  margin-top: -10px;
  font-size: 17px;
}

li{
  border-right: 1px solid;
  
}


.topic{
  background-color: honeydew;
  width: 1046px;
  height: 400px;
  margin: 0 auto;

}

.home{
  background-color: grey;
}

h2{
  color: white;
  padding: 8px 15px;
  font-size: 16px;
  font-family: 'メイリオ',Meiryo,'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic ProN',Osaka,'ＭＳ Ｐゴシック',Arial,sans-serif;
    
}